/* Style spécifique pour CodeModal */
.code-modal .modal-dialog {
    max-width: 80%;
    height: 70%; /* Ajustez selon votre préférence */
}

.code-modal .modal-body {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 20px;
}

.code-modal pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

/* Style spécifique pour le modal de création de diagramme */
.create-diagram-modal .modal-dialog {
    max-width: 50%;  /* Moins large */
}

.create-diagram-modal .modal-body {
    padding: 30px;
}

.create-diagram-modal .modal-header {
    background-color: #333;
    color: #fff;
}
