.navigation-bar{
  position: sticky;
  top: 0;
  width: 100%;
}
nav {
    background-color: #e3f2fd;
    height: 4em;
  }
  .navbar-brand {
    font-family: 'Lobster', cursive; 
    font-size: 1.5rem;
    color: rgb(6, 87, 128)
  }