@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ga+Maamli&display=swap');

h1{
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 8px;
  font-size: xx-large;
}
.welcome{
  background-color: rgb(27, 73, 96);
  height: 100vh;
  color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}



